## Versão Antiga do Quanti Concatenando todos os csvs em um só com o pandas

### (Foi alterado para parquet para melhorar a performance com processamento paralelo)

In [22]:
import numpy as np
import pandas as pd
print(pd.__version__)
import sqlalchemy as db

In [23]:
n_arquivos = 30

# Criar uma lista vazia para armazenar os DataFrames
dados_fundos = []


for i in range(n_arquivos):
    
    # Carregar o CSV em um DataFrame
    df = pd.read_csv(f"Quanti_202406{i+1:02d}.csv")
    
    
    # Adicionar o DataFrame à lista
    dados_fundos.append(df)

# Concatenar todos os DataFrames em um único DataFrame
dados_concatenados = pd.concat(dados_fundos, ignore_index=True)

In [24]:
dados_concatenados.columns

Index(['ISIN', 'AuM Fund', 'AuM Fund Date', 'AuM Share Class',
       'AuM Share Class Date', 'Bid NAV', 'Bid NAV Date', 'Ask NAV',
       'Ask NAV Date', 'Valuation NAV', 'Valuation NAV Date',
       'Transaction NAV', 'Transaction NAV Date', 'NoS Fund Date',
       'NoS Share Class', 'NoS Share Class Date', 'NoS Fund', 'FE Bid',
       'FE Bid Date', 'FE Offer', 'FE Offer Date', 'FE NAV', 'FE NAV Date',
       'FE Generic NAV', 'FE Generic NAV Date', 'FE AUM Fund Date',
       'FE AUM Share Class', 'FE AUM Share Class Date', 'FE NOS Fund',
       'FE NOS Fund Date', 'FE NOS Share Class', 'FE NOS Share Class Date',
       'Citi Code', 'Fund Code', 'Dynamic Currency', 'FE AUM Fund', 'FE Mid',
       'FE Mid Date', 'FE Total Return NAV', 'FE Total Return NAV Date',
       'Amount of Shares Redeemed Fund',
       'Amount of Shares Redeemed Share Class',
       'Amount of Shares Subscribed Fund',
       'Amount of Shares Subscribed Share Class',
       'Number of Shares Redeemed Fund',
       'Number of Shares Redeemed Share Class',
       'Number of Shares Subscribed Fund',
       'Number of Shares Subscribed Share Class'],
      dtype='object')

In [25]:
dados_concatenados = dados_concatenados.dropna(subset=["ISIN"])

In [26]:
#Prioritário
df1 = dados_concatenados[["ISIN","Valuation NAV","Valuation NAV Date"]].sort_values(by=["ISIN","Valuation NAV Date"])
df2 = dados_concatenados[["ISIN","FE Bid",'FE Bid Date']].sort_values(by=["ISIN","FE Bid Date"])
df3 = dados_concatenados[["ISIN","FE Generic NAV","FE Generic NAV Date"]].sort_values(by=["ISIN","FE Generic NAV Date"])
df4 = dados_concatenados[["ISIN","FE NAV","FE NAV Date"]].sort_values(by=["ISIN","FE NAV Date"])
df5 = dados_concatenados[["ISIN","Transaction NAV","Transaction NAV Date"]].sort_values(by=["ISIN","Transaction NAV Date"])
fields = ["Valuation NAV","FE BID","FE Generic NAV","FE NAV","Transaction NAV"]

In [27]:
#Extras
df6 = dados_concatenados[["ISIN","AuM Fund","AuM Fund Date"]].sort_values(by=["ISIN","AuM Fund Date"]),
df7 = dados_concatenados[["ISIN","AuM Share Class","AuM Share Class Date"]].sort_values(by=["ISIN","AuM Share Class Date"]),
df8 = dados_concatenados[["ISIN","Ask NAV","Ask NAV Date"]].sort_values(by=["ISIN","Ask NAV Date"]),
df9 = dados_concatenados[["ISIN","Bid NAV","Bid NAV Date"]].sort_values(by=["ISIN","Bid NAV Date"]),
df10 = dados_concatenados[["ISIN","NoS Fund","NoS Fund Date"]].sort_values(by=["ISIN","NoS Fund Date"]),
df11 = dados_concatenados[["ISIN","NoS Share Class","NoS Share Class Date"]].sort_values(by=["ISIN","NoS Share Class Date"]),
df12 = dados_concatenados[["ISIN","FE Offer","FE Offer Date"]].sort_values(by=["ISIN","FE Offer Date"]),
df13 = dados_concatenados[["ISIN","FE AUM Fund","FE AUM Fund Date"]].sort_values(by=["ISIN","FE AUM Fund Date"]),
df14 = dados_concatenados[["ISIN","FE AUM Share Class","FE AUM Share Class Date"]].sort_values(by=["ISIN","FE AUM Share Class Date"]),
df15 = dados_concatenados[["ISIN","FE NOS Fund","FE NOS Fund Date"]].sort_values(by=["ISIN","FE NOS Fund Date"]),
df16 = dados_concatenados[["ISIN","FE NOS Share Class","FE NOS Share Class Date"]].sort_values(by=["ISIN","FE NOS Share Class Date"]),

fields = ["Valuation NAV","FE BID","FE Generic NAV","FE NAV","Transaction NAV","AuM Fund","AuM Share Class","Ask NAV",
          "Bid NAV","NoS Fund","NoS Share Class","FE Offer","FE AUM Fund","FE AUM Share Class","FE NOS Fund","FE NOS Share Class"],
ldf = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16]

In [28]:
isins = dados_concatenados["ISIN"].unique()

In [29]:
ldf = [df1,df2,df3,df4,df5]

In [30]:
col_names = ["ISIN","data_valor_antigo","data_valor_novo","campo","valor antigo","valor novo" ]
new_df = pd.DataFrame(columns=col_names)

In [32]:
# Inicializa a lista de DataFrames e outras variáveis
campo = 0
new_df_list = []  # Lista para armazenar os DataFrames temporários

for df in ldf:
    for isin in isins:
        actual = df[df["ISIN"] == isin]

        for j in range(len(actual) - 1):
            row = actual.iloc[j]
            next_row = actual.iloc[j + 1]
            if row[1] != next_row[1]:
                new_df_list.append({
                    "ISIN": row["ISIN"],
                    "campo": fields[campo],
                    "data_valor_antigo": row[2],
                    "data_valor_novo": next_row[2],
                    "valor_antigo": row[1],
                    "valor_novo": next_row[1]
                })

    campo += 1

# Concatena todos os dicionários em um único DataFrame
new_df = pd.DataFrame(new_df_list)

C:\Users\thiag\AppData\Local\Temp\ipykernel_16372\3890616267.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if row[1] != next_row[1]:
C:\Users\thiag\AppData\Local\Temp\ipykernel_16372\3890616267.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  "data_valor_antigo": row[2],
C:\Users\thiag\AppData\Local\Temp\ipykernel_16372\3890616267.py:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  "data_valor_novo": next_row[2],
C:\Users\thiag\AppData\Local\Temp\ipykernel_16372\3890616267.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  "valor_antigo": row[1],
C:\Users\thiag\AppData\Local\Temp\ipykernel_16372\3890616267.py:21: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  "valor_novo": next_row[1]

KeyboardInterrupt:

In [ ]:
server = 'localhost'
database = 'master'
db.create_engine(f'mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server;Trusted_Connection=yes;')

In [ ]:
engine = db.create_engine(f'mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server;Trusted_Connection=yes;')
df.to_sql('Quali', con=engine, index=False, if_exists='replace')

In [ ]:
# Calcular as mudanças diárias para a coluna 'valor_ativo', por exemplo
dados_concatenados['mudanca_valor_ativo'] = dados_concatenados.groupby('ISIN')['valor_ativo'].diff()

# Filtrar apenas as linhas onde houveram mudanças
mudancas_diarias = dados_concatenados[dados_concatenados['mudanca_valor_ativo'].notnull()]

# Mostrar as primeiras linhas do resultado
print(mudancas_diarias.head())

# Se desejar salvar as mudanças em um novo arquivo CSV para análise
mudancas_diarias.to_csv('mudancas_diarias_fundos.csv', index=False)