In [1]:
import numpy as np
import pandas as pd
import sqlalchemy as db

In [2]:
n_arquivos = 30

# Criar uma lista vazia para armazenar os DataFrames
dados_fundos = []


for i in range(n_arquivos):
    
    # Carregar o CSV em um DataFrame
    df = pd.read_csv(f"Quanti_202406{i+1:02d}.csv")
    
    
    # Adicionar o DataFrame à lista
    dados_fundos.append(df)

# Concatenar todos os DataFrames em um único DataFrame
dados_concatenados = pd.concat(dados_fundos, ignore_index=True)

# Salvar o DataFrame concatenado em formato Parquet
dados_concatenados.to_parquet("dados_concatenados.parquet", index=False)

In [3]:
dados_concatenados.columns

Index(['ISIN', 'AuM Fund', 'AuM Fund Date', 'AuM Share Class',
       'AuM Share Class Date', 'Bid NAV', 'Bid NAV Date', 'Ask NAV',
       'Ask NAV Date', 'Valuation NAV', 'Valuation NAV Date',
       'Transaction NAV', 'Transaction NAV Date', 'NoS Fund Date',
       'NoS Share Class', 'NoS Share Class Date', 'NoS Fund', 'FE Bid',
       'FE Bid Date', 'FE Offer', 'FE Offer Date', 'FE NAV', 'FE NAV Date',
       'FE Generic NAV', 'FE Generic NAV Date', 'FE AUM Fund Date',
       'FE AUM Share Class', 'FE AUM Share Class Date', 'FE NOS Fund',
       'FE NOS Fund Date', 'FE NOS Share Class', 'FE NOS Share Class Date',
       'Citi Code', 'Fund Code', 'Dynamic Currency', 'FE AUM Fund', 'FE Mid',
       'FE Mid Date', 'FE Total Return NAV', 'FE Total Return NAV Date',
       'Amount of Shares Redeemed Fund',
       'Amount of Shares Redeemed Share Class',
       'Amount of Shares Subscribed Fund',
       'Amount of Shares Subscribed Share Class',
       'Number of Shares Redeemed Fund',
       'Number of Shares Redeemed Share Class',
       'Number of Shares Subscribed Fund',
       'Number of Shares Subscribed Share Class'],
      dtype='object')

In [4]:
dados_concatenados = dados_concatenados.dropna(subset=["ISIN"])

In [5]:
#Prioritário
df1 = dados_concatenados[["ISIN","Valuation NAV","Valuation NAV Date"]].sort_values(by=["ISIN","Valuation NAV Date"])
df2 = dados_concatenados[["ISIN","FE Bid",'FE Bid Date']].sort_values(by=["ISIN","FE Bid Date"])
df3 = dados_concatenados[["ISIN","FE Generic NAV","FE Generic NAV Date"]].sort_values(by=["ISIN","FE Generic NAV Date"])
df4 = dados_concatenados[["ISIN","FE NAV","FE NAV Date"]].sort_values(by=["ISIN","FE NAV Date"])
df5 = dados_concatenados[["ISIN","Transaction NAV","Transaction NAV Date"]].sort_values(by=["ISIN","Transaction NAV Date"])
fields = ["Valuation NAV","FE Bid","FE Generic NAV","FE NAV","Transaction NAV"]

In [6]:
#Extras
df6 = dados_concatenados[["ISIN","AuM Fund","AuM Fund Date"]].sort_values(by=["ISIN","AuM Fund Date"]),
df7 = dados_concatenados[["ISIN","AuM Share Class","AuM Share Class Date"]].sort_values(by=["ISIN","AuM Share Class Date"]),
df8 = dados_concatenados[["ISIN","Ask NAV","Ask NAV Date"]].sort_values(by=["ISIN","Ask NAV Date"]),
df9 = dados_concatenados[["ISIN","Bid NAV","Bid NAV Date"]].sort_values(by=["ISIN","Bid NAV Date"]),
df10 = dados_concatenados[["ISIN","NoS Fund","NoS Fund Date"]].sort_values(by=["ISIN","NoS Fund Date"]),
df11 = dados_concatenados[["ISIN","NoS Share Class","NoS Share Class Date"]].sort_values(by=["ISIN","NoS Share Class Date"]),
df12 = dados_concatenados[["ISIN","FE Offer","FE Offer Date"]].sort_values(by=["ISIN","FE Offer Date"]),
df13 = dados_concatenados[["ISIN","FE AUM Fund","FE AUM Fund Date"]].sort_values(by=["ISIN","FE AUM Fund Date"]),
df14 = dados_concatenados[["ISIN","FE AUM Share Class","FE AUM Share Class Date"]].sort_values(by=["ISIN","FE AUM Share Class Date"]),
df15 = dados_concatenados[["ISIN","FE NOS Fund","FE NOS Fund Date"]].sort_values(by=["ISIN","FE NOS Fund Date"]),
df16 = dados_concatenados[["ISIN","FE NOS Share Class","FE NOS Share Class Date"]].sort_values(by=["ISIN","FE NOS Share Class Date"]),

fields = ["Valuation NAV","FE BID","FE Generic NAV","FE NAV","Transaction NAV","AuM Fund","AuM Share Class","Ask NAV",
          "Bid NAV","NoS Fund","NoS Share Class","FE Offer","FE AUM Fund","FE AUM Share Class","FE NOS Fund","FE NOS Share Class"],
ldf = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16]

In [7]:
isins = dados_concatenados["ISIN"].unique()

In [8]:
ldf = [df1,df2,df3,df4,df5]

In [9]:
col_names = ["ISIN","data_valor_antigo","data_valor_novo","campo","valor antigo","valor novo" ]
new_df = pd.DataFrame(columns=col_names)

In [10]:
# Inicializa a lista de DataFrames e outras variáveis 
campo = 0

for df in ldf:  
    for isin in isins:  
        actual = df[df["ISIN"] == isin] 

        for j in range(len(actual) - 1): 
            row = actual.iloc[j]  
            next_row = actual.iloc[j + 1]         
            if row[1] != next_row[1]: 
                new_df = new_df.append({
                    "ISIN": row["ISIN"],
                    "campo": fields[campo],
                    "data_valor_antigo": row[2],  
                    "data_valor_novo": next_row[2],
                    "valor_antigo": row[1], 
                    "valor_novo": next_row[1]
                }, ignore_index=True)

    campo += 1  

new_df

C:\Users\thiag\AppData\Local\Temp\ipykernel_9576\1841857007.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if row[1] != next_row[1]:

AttributeError: 'DataFrame' object has no attribute 'append'

In [11]:
isins
dados_concatenados[dados_concatenados["ISIN"]==isins[0]]

,ISIN,AuM Fund,AuM Fund Date,AuM Share Class,AuM Share Class Date,Bid NAV,Bid NAV Date,Ask NAV,Ask NAV Date,Valuation NAV,...,FE Total Return NAV,FE Total Return NAV Date,Amount of Shares Redeemed Fund,Amount of Shares Redeemed Share Class,Amount of Shares Subscribed Fund,Amount of Shares Subscribed Share Class,Number of Shares Redeemed Fund,Number of Shares Redeemed Share Class,Number of Shares Subscribed Fund,Number of Shares Subscribed Share Class
0,LU0602537226,1.004964e+08,2024-05-31,19313180.07,2024-05-31,NaN,NaN,NaN,NaN,13.2173,...,13.2173,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129720,LU0602537226,1.006126e+08,2024-06-03,19335696.36,2024-06-03,NaN,NaN,NaN,NaN,13.2480,...,13.2480,2024-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221838,LU0602537226,1.008493e+08,2024-06-04,19396319.24,2024-06-04,NaN,NaN,NaN,NaN,13.2465,...,13.2465,2024-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325145,LU0602537226,1.010906e+08,2024-06-05,19373812.12,2024-06-05,NaN,NaN,NaN,NaN,13.2516,...,13.2516,2024-06-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431349,LU0602537226,1.012753e+08,2024-06-06,19470944.52,2024-06-06,NaN,NaN,NaN,NaN,13.2675,...,13.2675,2024-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536669,LU0602537226,1.012932e+08,2024-06-07,19405188.45,2024-06-07,NaN,NaN,NaN,NaN,13.2219,...,13.2219,2024-06-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667687,LU0602537226,1.007269e+08,2024-06-10,19668867.67,2024-06-10,NaN,NaN,NaN,NaN,13.3809,...,13.3809,2024-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765392,LU0602537226,1.005457e+08,2024-06-11,19727175.98,2024-06-11,NaN,NaN,NaN,NaN,13.4210,...,13.4210,2024-06-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
868127,LU0602537226,1.007919e+08,2024-06-12,19625905.72,2024-06-12,NaN,NaN,NaN,NaN,13.3850,...,13.3850,2024-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971609,LU0602537226,1.011324e+08,2024-06-13,19628898.12,2024-06-13,NaN,NaN,NaN,NaN,13.3923,...,13.3923,2024-06-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075331,LU0602537226,1.008027e+08,2024-06-14,19780804.86,2024-06-14,NaN,NaN,NaN,NaN,13.4959,...,13.4959,2024-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1201762,LU0602537226,1.007197e+08,2024-06-17,19729683.69,2024-06-17,NaN,NaN,NaN,NaN,13.4610,...,13.4610,2024-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1300977,LU0602537226,1.008224e+08,2024-06-18,19725379.66,2024-06-18,NaN,NaN,NaN,NaN,13.4526,...,13.4526,2024-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1497549,LU0602537226,1.010829e+08,2024-06-20,19759716.86,2024-06-20,NaN,NaN,NaN,NaN,13.4754,...,13.4754,2024-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1588402,LU0602537226,1.010954e+08,2024-06-21,19874119.13,2024-06-21,NaN,NaN,NaN,NaN,13.5018,...,13.5018,2024-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1712027,LU0602537226,1.014169e+08,2024-06-24,19909731.47,2024-06-24,NaN,NaN,NaN,NaN,13.4549,...,13.4549,2024-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1812106,LU0602537226,1.013072e+08,2024-06-25,19964626.97,2024-06-25,NaN,NaN,NaN,NaN,13.4920,...,13.4920,2024-06-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913860,LU0602537226,1.011487e+08,2024-06-26,20005436.60,2024-06-26,NaN,NaN,NaN,NaN,13.5095,...,13.5095,2024-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019599,LU0602537226,1.011925e+08,2024-06-27,20052174.50,2024-06-27,NaN,NaN,NaN,NaN,13.5004,...,13.5004,2024-06-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2123988,LU0602537226,1.012867e+08,2024-06-28,20057415.50,2024-06-28,NaN,NaN,NaN,NaN,13.5037,...,13.5037,2024-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228151,LU0602537226,1.012867e+08,2024-06-28,20057415.50,2024-06-28,NaN,NaN,NaN,NaN,13.5037,...,13.5037,2024-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
colunas = list(dados_concatenados.columns)+['valor_antigo','valor_novo','campo']
new_df2 = pd.DataFrame(columns=dados_concatenados.columns)
for isin in isins:
    d_copy = dados_concatenados[dados_concatenados["ISIN"]==isins[0]]
    for campo in fields: #campos prioritarios
        d_copy = d_copy.sort_values(by=[str(campo)+" Date"])
        d_copy['diferente_da_proxima'] = d_copy[campo] != d_copy[campo].shift(-1) # Comparar os valores da coluna com o valor da próxima linha
        d_copy['valor_antigo'] = d_copy[campo]# Comparar os valores da coluna com o valor da próxima linha
        d_copy['valor_novo'] = d_copy[campo].shift(-1)
        d_copy['campo'] = campo

        # Filtrar apenas as linhas onde houve mudança
        df_mudanca = d_copy[d_copy['valor_antigo'] != d_copy['valor_novo']].dropna()
        pd.concat([new_df2,df_mudanca])
        #print(new_df2)

In [ ]:
server = 'localhost'
database = 'master'
db.create_engine(f'mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server;Trusted_Connection=yes;')

In [ ]:
# Calcular as mudanças diárias para a coluna 'valor_ativo', por exemplo
dados_concatenados['mudanca_valor_ativo'] = dados_concatenados.groupby('ISIN')['valor_ativo'].diff()

# Filtrar apenas as linhas onde houveram mudanças
mudancas_diarias = dados_concatenados[dados_concatenados['mudanca_valor_ativo'].notnull()]

# Mostrar as primeiras linhas do resultado
print(mudancas_diarias.head())

# Se desejar salvar as mudanças em um novo arquivo CSV para análise
mudancas_diarias.to_csv('mudancas_diarias_fundos.csv', index=False)